/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    font-family: 'Source Sans Pro', sans-serif;
    color:#202020;
    background:#e4e4e4;
}

.form {
    text-align: center;
    margin: 100px auto;
    width: 350px;
    background: #94928E;
    padding: 60px;
}

.form input {
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    background: none;
}

.title {
    color:#9EB96F;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    bottom: 25px;
}

.button {
    font-size: 18px;
    color: black;
    background: #9EB96F;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    
}


textarea:focus, input:focus{
    outline: none;
}

.field {
    display: block;
}

.field_with_errors {
    background: #df2727;
}

.form svg {
    height: 25px;
    vertical-align: auto;
}

.link a {
    color: #9CA2A8;
}

.link a:visited{
    color: #9CA2A8;
}



.name {
    color:#9EA2A8;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
}

.header {
    color:#9EB96F;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
}