@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Source+Sans+Pro&display=swap');

.nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C8C4BF;
  }
  
  .nav_li {
    float: right;
  }

  .nav_li a {
    font-family: 'Raleway', sans-serif;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 120%;
  }
  
  .nav_li a:hover {
    color: #9EB96F;
    background-color: #1f1f1f;
  }


  .logo {
      font-family: 'Raleway', sans-serif;
      font-size: 150%;
      float: left;
      margin-left: 20px;
      margin-top: 0;
      margin-bottom: 0;
      color:#88ad48;
  }

  .logo a:hover {
      background: none;
  }

  .account {
      background-color: #9EB96F;
  }